
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed Light'), local('Roboto-Condensed-Light'),
        url('RobotoCondensed-Light.woff2') format('woff2'),
        url('RobotoCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed'), local('Roboto-Condensed-Regular'),
        url('RobotoCondensed-Regular.woff2') format('woff2'),
        url('RobotoCondensed-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed Bold'), local('Roboto-Condensed-Bold'),
        url('RobotoCondensed-Bold.woff2') format('woff2'),
        url('RobotoCondensed-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

:root {
    --gray_slate:#6E7F91;
    --smoky_white: #F5F5F5;
    --beige: #CDCAC5;
    --gray-brown: #A38970;
    --dark-blue: #394C60;
    --gap: 30px;
}

body {
    min-width: 320px; /* ??? */
    font-family: 'Roboto Condensed';
    font-weight: 300;
}

h1, h2 {
    margin: 0;
    font-weight: normal; /* убираем автоматическую жирность заголовков */
}

h3 {
    margin: 0;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: var(--dark-blue);
}

a {
    text-decoration: none;
}

ul {
    margin: 5px 20px 20px 20px;
    padding: 0;

}

.flex {
    display: flex;
    flex-direction: row;
    }

.container {
    max-width: 990px;
    min-width: 600px;
    margin: 0 auto;
    background-color: var(--smoky_white);
}

.content {
    padding: 0 70px 0 70px;
}

header {
    height: 100px;
    background-color: var(--gray_slate);
}
header > nav {
    height: 100%;
}

header > nav > ul {
    margin: 0 auto;
    min-width: 600px;
    max-width: 700px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    padding-bottom: var(--gap);
}

.nav__list-item {
    list-style-type: none;
}

.item-link {
    color: var(--smoky_white);
}
.item-link:hover,
.item-link:focus {
    color: var(--dark-blue);
}
.item-link:active {
    color: var(--smoky_white);
}

.personal {
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--beige);

    margin-bottom: var(--gap);
}

.personal__banner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.personal__section-title {
    margin-bottom: 28px;
    
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    color: var(--dark-blue);
}

.personal__line {
    width: 96%;
    height: 5px;
    border-radius: 10px;
    background-color: var(--gray-brown);
    margin-bottom: 31px;
}
.personal__position {
    font-size: 25px;
    line-height: 30px;
    color: var(--dark-blue);
    text-transform: uppercase;
}

.personal__photo-cv {
    margin: 25px 0;
}


/* all_columns */
.cv-content {
    flex-direction: row;
}


/* razmetka */
.cv-content__column {
    flex-direction: column;
    padding-bottom: var(--gap);
}
.cv-content__veltical-line {
    width: 10px;
    border-radius: 10px;
    background-color: var(--gray-brown);
    margin: 5px 50px 25px 50px;
}

.cv-content_horiz-line {
    align-self: center;
    width: 110%;
    height: 5px;
    border-radius: 10px;
    background-color: var(--gray-brown);
    margin: 36px 0;
}

#contacts > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#contacts > li {
    list-style-type: none;
}

.cv-content__section-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--dark-blue);
    margin-bottom: 30px;
}

.contact-link {
    font-size: 15px;
    line-height: 18px;
    color: var(--dark-blue);
    margin-bottom: 9px;
}

.contact-link > a {
    font-weight: 400;
    color: var(--dark-blue);
}




.footer {
    width: 100%;
    background-color: var(--gray_slate);
    justify-content: left;
    align-items: center;

    padding-bottom: 0;
}

.footer__main {
    width: 100%;
    height: 100px;
    
    justify-content: left;
    align-items: center;
}
.footer__github-link {
    margin: 0 auto;
    font-weight: 700;
}

.footer__bottom {
    text-align: center;
}





.logo-link {
    padding-left: 86px;
    padding-top: 20px;
}

.logo-link > img {
    width: 185px;
    height: 66px;
}




@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }